/**
 * Component - Fader
 */

$gallery-image-count:      6 !default;
$gallery-nav-color:        theme-color("lighter") !default;
$gallery-nav-active-color: theme-color($theme-accent) !default;

.fader {
  position: relative;
  width: 100%;
  aspect-ratio: 16 / 9;

  &__inner {
    @include list-unstyled();
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin-block: 0; // Reset
  }

  &__item {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    width: 100%;
    height: 100%;
    margin-block: 0; // Reset
    opacity: 1;
    transition: opacity 1s ease;

    @for $i from 1 through $gallery-image-count {
      &.is-image-#{$i} {
        background: url("./assets/sampleImg0#{$i}.jpg") no-repeat center center / cover scroll;
      }
    }
    
    &:not(.is-current) {
      z-index: 1;
      opacity: 0;
    }
  }
}

.faderNav {
  list-style: none;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
  display: flex;
  justify-content: center;
  height: 1.5rem;
  margin: space() auto;
  padding: 0;

  &__item {
    width: 0.5rem;
    height: 0.5rem;
    margin: 0.5rem;
    border-radius: 50%;
    background-color: $gallery-nav-active-color;
    cursor: pointer;

    &:not(.is-current) {
      background-color: $gallery-nav-color;
    }
  }
}
